/venv
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build
*.mo
*.pot
*.po
*.log
*.swp
*.db
*.sqlite3
*.sqlite
local_settings.py
media
static
*.bak
*.old
*.orig
*.tmp
*.rej
*.~
*.bak
*.swp
*.swo
*.swn
*.swm
*.swl
*.swk
